* {
  margin: 0px;
  padding: 0px;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.horizontal_layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

/*  */
.horizontal-layout .item-auto {
  align-self: start;
  height: 100%;
  flex-shrink: 1;
}
.horizontal-layout .item-stretch {
  align-self: stretch;
  height: 100%;
  flex-grow: 1;
}
